In [2]:
# importing multiple csv files
import numpy as ny
import matplotlib.pyplot as plt
from google.colab import files
import pandas as pd
import io
 
data = files.upload()

Saving domestic_visitors_2016.csv to domestic_visitors_2016.csv
Saving domestic_visitors_2017.csv to domestic_visitors_2017.csv
Saving domestic_visitors_2018.csv to domestic_visitors_2018.csv
Saving domestic_visitors_2019.csv to domestic_visitors_2019.csv

In [3]:
df16 = pd.read_csv(io.StringIO(data['domestic_visitors_2016.csv'].decode('utf-8')))
df16.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [4]:
df16.shape

(372, 5)

In [5]:
df17 = pd.read_csv(io.StringIO(data['domestic_visitors_2017.csv'].decode('utf-8')))
df17.head()

   district        date     month  year visitors
0  Adilabad  01-01-2017   January  2017   318799
1  Adilabad  01-02-2017  February  2017    83316
2  Adilabad  01-03-2017     March  2017    27508
3  Adilabad  01-04-2017     April  2017    13946
4  Adilabad  01-05-2017       May  2017    11752

In [6]:
df16.shape

(372, 5)

In [7]:
df18 = pd.read_csv(io.StringIO(data['domestic_visitors_2018.csv'].decode('utf-8')))
df18.head()

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018   320356
1  Adilabad  01-02-2018  February  2018    36550
2  Adilabad  01-03-2018     March  2018    23011
3  Adilabad  01-04-2018     April  2018    14183
4  Adilabad  01-05-2018       May  2018     8197

In [8]:
df19 = pd.read_csv(io.StringIO(data['domestic_visitors_2019.csv'].decode('utf-8')))
df19.head()

   district        date     month  year visitors
0  Adilabad  01-01-2019   January  2019    25071
1  Adilabad  01-02-2019  February  2019   406177
2  Adilabad  01-03-2019     March  2019    14347
3  Adilabad  01-04-2019     April  2019     9972
4  Adilabad  01-05-2019       May  2019     6997

In [9]:
import glob
 
# list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['domestic_visitors_2019.csv',
 'domestic_visitors_2018.csv',
 'domestic_visitors_2017.csv',
 'domestic_visitors_2016.csv']

In [15]:
import glob
 
# list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['domestic_visitors_2019.csv',
 'domestic_visitors_2018.csv',
 'foreign_visitors_2017.csv',
 'foreign_visitors_2016.csv',
 'domestic_visitors_2017.csv',
 'foreign_visitors_2019.csv',
 'foreign_visitors_2018.csv',
 'domestic_visitors_2016.csv']

In [10]:
domestic_visitor_16to19 = pd.DataFrame()
 
# append the CSV files
for file in csv_files:
    df = pd.read_csv(file)
    domestic_visitor_16to19 = domestic_visitor_16to19.append(df, ignore_index=True)
 
domestic_visitor_16to19

<ipython-input-10-e04982df359c>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  domestic_visitor_16to19 = domestic_visitor_16to19.append(df, ignore_index=True)
<ipython-input-10-e04982df359c>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  domestic_visitor_16to19 = domestic_visitor_16to19.append(df, ignore_index=True)
<ipython-input-10-e04982df359c>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  domestic_visitor_16to19 = domestic_visitor_16to19.append(df, ignore_index=True)
<ipython-input-10-e04982df359c>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  domestic_visitor_16to19 = domestic_visitor_16to19.append(df, ignore_index=True)

             district        date      month  year visitors
0            Adilabad  01-01-2019    January  2019    25071
1            Adilabad  01-02-2019   February  2019   406177
2            Adilabad  01-03-2019      March  2019    14347
3            Adilabad  01-04-2019      April  2019     9972
4            Adilabad  01-05-2019        May  2019     6997
...               ...         ...        ...   ...      ...
1507  Yadadri Bhongir  01-08-2016     August  2016
1508  Yadadri Bhongir  01-09-2016  September  2016
1509  Yadadri Bhongir  01-10-2016    October  2016   584800
1510  Yadadri Bhongir  01-11-2016   November  2016   681000
1511  Yadadri Bhongir  01-12-2016   December  2016   462800

[1512 rows x 5 columns]

In [11]:
df = domestic_visitor_16to19
df.head()

   district        date     month  year visitors
0  Adilabad  01-01-2019   January  2019    25071
1  Adilabad  01-02-2019  February  2019   406177
2  Adilabad  01-03-2019     March  2019    14347
3  Adilabad  01-04-2019     April  2019     9972
4  Adilabad  01-05-2019       May  2019     6997

In [12]:
df.shape

(1512, 5)

In [13]:
df.to_excel(r"C:\Users\Nisha Rawat\Desktop\domestic_visitors_16to19.xlsx")